header {
  font-size:5rem;
}

h1 {
  font-variant:small-caps;
}

@media only screen and (min-width: 800px) {
  section {
    max-width:20vw;
    margin:0 2vw 2vw 0;
    border:2px solid lightgrey;
    border-radius:10px;
    overflow:hidden;
  }
  
  img {
    width:20vw;
    height:20vw;
    object-fit:cover;
  }
  
  #demo {
    display:flex;
    flex-flow:row wrap;
  }
  
  h1 {
    border-bottom:2px solid lightgrey;
    margin:0;
    padding:1rem;
  }
  
  p {
    margin:0;
    padding:1rem;
}
